.topRow {
  font-size: 30px;
  text-align: center;
  margin: 2px;

}

#sear {
  background-color: #0a0118;
  color: white;
  font-size: large;
  font-weight: bold;
}

.infoBar {
  background-color: paleturquoise;
}

.card-body1 {
  background-color: lightgray;
  font-size: medium;
  font-weight: bold;
  padding: 15px;
}

.bodyLarge {
  background-color: lightgray;
}

.leftPanel {
  background-color: paleturquoise;
}


.rightPanel {
  background-color: paleturquoise;
}


.card-img-top1 {
  width: 40px;
  margin: 10px;
}

.card-icon {
  width: 40px;
  margin: 10px;
}

p {
  font-size: medium;
}